<!DOCTYPE html>
<html>
<head>
	<title>Qoura Page</title>
	<link href="/indexStyle.css"rel="stylesheet">
</head>
<body>
	<h1>Qoura Posts</h1>
	<%for(post of posts){%>
	<div class="post">
		<h3 class="user">@<%=post.username%></h3>
		<h4 class="cont"><%=post.content%></h4>

        <div class="post-actions">
            <a href="http://localhost:8080/posts/<%=post.id%>">See in Detail.</a>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit Post.</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
            <button>Delete</button>
            </form>
        </div>
        </div>
	<%}%>
	<a class="btn" href="http://localhost:8080/posts/new">Add New Post</a>
</body>
</html>